@model StoreWebUI.Models.InventoryVM

@using StoreModels;
@{
    ViewData["Title"] = "Create";
}

<h1>Add Inventory Item</h1>

<h4>Inventory</h4>
<hr />
        <form asp-action="Create" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>ISBN</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (StoreModels.Product product in ViewBag.products)
                        {
                            <tr>
                                <td><label>@product.Name</label></td>
                                <td><label>@product.ISBN</label></td>
                                <td><label>@product.Price</label></td>
                                <td><button asp-action="Create" asp-route-ISBN=@product.ISBN type="submit">Add to Inventory</button></td>
                            </tr>

                        }
                    </tbody>
                </table>
        </form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
