

@{
    ViewData["Title"] = "Store";
}
@using Microsoft.AspNetCore.Http

<h1>Welcome to Bearly Camping: Glaming Supplies</h1>
<div class="emphasis" style="color: blue">
    <h3>Our Mission Statement</h3>
    <p>We Pride ourselves in providing some of the best in high tech equipment to help make your stay in the wilds more tame.</p>
</div>
<p>@Context.Session.GetString("UserName")</p>
<p>@Context.Session.GetString("EmployeeID")</p>


